.button1 {
    background-color: rgb(160, 160, 235);
    margin-bottom: 10px;
    margin-top: 10px;
}

.button2 {
    background-color: rgb(160, 160, 235);
    margin-bottom: 10px;
    margin-top: 10px;
}