.description1 {
    background-color: rgba(168, 243, 218);
    text-align: center;
    font-style: italic;
    text-align: justify;
}

.description2 {
    background-color: rgba(168, 243, 218);
    text-align: center;
    font-style: italic;
    text-align: justify;
}

.description3 {
    background-color: rgba(168, 243, 218);
    text-align: center;
    font-style: italic;
    text-align: justify;
}