.navigation {
    margin: 5px;
    text-align: center;
}

.navi {
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(4, 49, 101);
    margin: 30px;
    text-decoration: solid;

}

.navi:hover {
    color: rgb(15, 74, 123);
}